<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="week3Day2.UpdateIssue"/>
      <class name="week3Day2.CreateIssue"/>
      <class name="week3Day2.GetAllIssues"/>
      <class name="week3Day2.DeleteIssue"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
